#address {
  width: 380px;
  height: 40px;
  margin: 10px;
  font-size: 10pt;
}

#time {
  width: 180px;
  height: 40px;
  margin: 10px;
  font-size: 10pt;
}

#activity {
  width: 180px;
  height: 40px;
  margin: 10px;
  font-size: 10pt;
}

#description {
  width: 400px;
  height: 100px;
  margin: 10px;
  font-size: 10pt;
}

#mapHeadline {
  text-align: center;
  margin-bottom: 24px;
}

#mainHeadline {
  text-align: center;
  margin: 8px;
}

#map {
  height: 400px;
  width: 100%;
}
